Source: maleo
Section: gnome
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Standards-Version: 3.9.7
Build-Depends: cdbs, debhelper (>= 7.3.5)


Package: maleo64
Architecture: all
Depends: libseed-gtk3-0 
Description: HTML5 application runner 
 This package provides HTML5 application runner.

Package: maleo32
Architecture: all
Depends: libseed-gtk3-0 
Description: HTML5 application runner 
 This package provides HTML5 application runner.


